header{
    border-bottom: 0.03px solid var( --light-gray);
}

.hamburguer-menu{
    display: none;
}

.logo{
    text-decoration: none;
    color: var(--dark-gray);
    text-transform: capitalize;
}

nav{
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    padding: 4vw;
    justify-content: space-around;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: var(--gray);
    padding: 0.4vw;
    border-radius: 0.8vw;
}

.nav-link:hover{
    background-color: var(--gray);
    color: var(--off-white);
}

/* Theme Switcher */

.theme-switch-checkbox{
    opacity: 0;
    position: absolute;
}

.switcher-label{
    width: 50px;
    height: 30px;
    background-color: var(--dark-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    position: relative;
    padding: 0 6px;
}

.sun{
    color: var(--sun-yellow);
}

.moon{
    color: var(--moon-gray);
}

.switcher{
    background-color: var(--light-gray);
    position: absolute;
    height: 20px;
    width: 20px;
    top: 5px;
    left: 2px;
    border-radius: 50%;
    margin: 0 1px;
    transition: 0.5s;
}

.theme-switch-checkbox:checked + .switcher-label .switcher{
    transform: translateX(36px);
}

@media  screen and (max-width: 850px) {
    .hamburguer-menu{
        display: flex;
    }

    .checkbox-menu{
        opacity: 0;
        position: absolute;
    }

    .hamburguer-menu-icon{
        padding: 2vw;
    }

    nav{
        position: relative;
    }

    ul{
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 48px;
        background-color: var(--off-white);
        border-radius: 2vw;
        padding: 4vw;
        margin: 0 2vw;
        gap: 2vw;
        display: none;
    }

    .nav-item{
        text-decoration: none;
        color: var(--gray);
        padding: 2vw 0;
        border-radius: 0.8vw;
        border-bottom: 0.5px solid var(--light-gray);
    }
}